h1 Credits

p Assembled on <a href="https://github.com/preboot/angular-webpack" target="_blank">angular-webpack</a> by <a href="https://github.com/b-ff" target="_blank">@b-ff</a> with love and also:

ul
    li <a href="https://babeljs.io/" target="_blank">Babel</a> ES6 support
    li <a href="https://pugjs.org/" target="_blank">Jade</a> layout preprocessor (now it's known as Pug. What a stupid name, isn't it?)
    li <a href="http://lesscss.org/" target="_blank">Less</a> stylesheets preprocessor
    li Simple and clear app file structure
    li Proper <code>.gitignore</code> file to keep your repo clean and shiny
    li <a href="http://eslint.org/" target="_blank">ESLint</a> ruleset based on <code>airbnb-base</code> ruleset (you may change it on your own view)

p Feel free to fork this stuff and modify it on your own view, but be a good guy and follow license agreement for each open-source component which used in this project, ok?)
