.table-list {
  .container {
    width: 100%;
    margin: 10px auto;
    overflow-x: auto;
  }

  .list {
    width: auto;
    white-space: nowrap;

    &__item {
      padding: 10px;
    }

    .table {
      padding: 20px;
      background: #eee;
      border-radius: 15px;

      &__name {
        margin-top: 0;
      }

      &__participants {
        text-align: center;
      }

      &__actions {
        text-align: center;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px dashed #ddd;
      }
    }
  }
}