nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            .navbar-brand
                | Evolution Gaming Test App

        ul.nav.navbar-nav
            li
                a(ng-click="ctrl.goToAuth()") Authorize
            li
                a(ng-click="ctrl.goToTables()") Tables