nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            .navbar-brand
                | ngSkeleton

        ul.nav.navbar-nav
            li(ng-repeat="state in ctrl.availableStates track by state.name")
                a(ui-sref="{{ state.name }}") {{ state.title }}
