nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            .navbar-brand
                | Evolution Gaming Test App

        //ul.nav.navbar-nav
        //    li
        //        a(href="" ng-click="ctrl.goToAuth()") Authorize
        //    li
        //        a(href="" ng-click="ctrl.goToTables()") Tables